<ion-content  class="all">
  <ion-toolbar class="my_toolbar">
    <ion-menu-toggle slot="start">
      <ion-icon  name="reorder-three-outline" class="my_menu_icon"></ion-icon>
    </ion-menu-toggle>

    <!-- <ion-title>Articles</ion-title> -->
    <div slot="end">
    <ion-icon slot="start" name="arrow-back-outline" class="menu_icon"></ion-icon>
    <ion-icon slot="start" name="heart-outline" color="danger" class="my_menu_icon"></ion-icon>

    <!-- <ion-icon slot="start" name="mail-outline" class="menu_icon"></ion-icon> -->
    <!-- <ion-icon slot="start" name="notifications-outline" class="menu_icon"></ion-icon> -->
    <!-- <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"class="menu_icon_avatar"  /> -->
    </div>
  </ion-toolbar>
  <div class="top">
    <ion-thumbnail class="my-thumbnail">
      <img alt="Silhouette of mountains" src="https://picsum.photos/200/300" />
    </ion-thumbnail>
  </div>  
  <div class="article" >
    <ion-toolbar class="article-title">
      <div  slot="start" >
        <ion-icon  name="time-outline"></ion-icon>
        25 minutes
      </div>
      <ion-badge slot="end" >
        Tag
      </ion-badge>
    </ion-toolbar>

      <h4 class="a-title ">Default Title emplaçement emplaçement</h4>

    <p class="article-content">
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
     </p>
    <!--  -->

    <!--  -->




    <ion-item class="author">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Item Thumbnail</h2>
        <p>Item Thumbnail</p>
      </ion-label>
    </ion-item>

    <ion-item class="stats" >
      <ion-label lines="none">Statistiques</ion-label>
      <ion-badge color="light" class="badge-info"><ion-icon name="eye-outline"></ion-icon> 22k</ion-badge>
      <ion-badge color="light" class="badge-info"><ion-icon name="chatbubbles-outline"></ion-icon> 22k</ion-badge>
      <ion-badge color="light" class="badge-info"><ion-icon name="heart-outline"></ion-icon> 22k</ion-badge>
    </ion-item>

    <ion-list class="comments">
      <ion-item class="comment">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <div >
        <ion-row class="no-bg">
          <ion-col class="no-bg">
            <h6>
            Item Thumbnail
            <ion-badge class="new-line">
              <ion-icon name="time-outline" slot="start"></ion-icon> 12 minutes ago
           </ion-badge>
          </h6>
        </ion-col>
        </ion-row>
        <ion-row class="no-bg">
          <ion-col class="no-bg">
            <div class="comment-content">
            lorom some dialor  frzf lorom some dialor  frzf lorom some dialor  frzf lorom some dialor  frzf
          </div>
        </ion-col>
        </ion-row>
        </div>
      </ion-item>

      <ion-item class="comment">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <div >
        <ion-row class="no-bg">
          <ion-col class="no-bg">
            <h6>
            Item Thumbnail
            <ion-badge class="new-line">
              <ion-icon name="time-outline" slot="start"></ion-icon> 12 minutes ago
           </ion-badge>
          </h6>
        </ion-col>
        </ion-row>
        <ion-row class="no-bg">
          <ion-col class="no-bg">
            <div class="comment-content">
            lorom some dialor  frzf lorom some dialor  frzf lorom some dialor  frzf lorom some dialor  frzf
          </div>
        </ion-col>
        </ion-row>
        </div>
      </ion-item>

      <ion-item class="comment">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <div >
        <ion-row class="no-bg">
          <ion-col class="no-bg">
            <h6>
            Item Thumbnail
            <ion-badge class="new-line">
              <ion-icon name="time-outline" slot="start"></ion-icon> 12 minutes ago
           </ion-badge>
          </h6>
        </ion-col>
        </ion-row>
        <ion-row class="no-bg">
          <ion-col class="no-bg">
            <div class="comment-content">
            lorom some dialor  frzf lorom some dialor  frzf lorom some dialor  frzf lorom some dialor  frzf
          </div>
        </ion-col>
        </ion-row>
        </div>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
