<div  class="all">
  <div class="top">
    <ion-toolbar class="my_toolbar">
      <ion-icon slot="start" name="heart-outline" color="danger" class="my_menu_icon"></ion-icon>
      <!-- <ion-icon slot="start" name="reorder-three-outline" class="my_menu_icon"></ion-icon> -->
      <!-- <ion-title>Articles</ion-title> -->
      <div slot="end">
      <ion-icon slot="start" name="arrow-back-outline" class="menu_icon"></ion-icon>
      <!-- <ion-icon slot="start" name="mail-outline" class="menu_icon"></ion-icon> -->
      <!-- <ion-icon slot="start" name="notifications-outline" class="menu_icon"></ion-icon> -->
      <!-- <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"class="menu_icon_avatar"  /> -->
      </div>
    </ion-toolbar>
    <!--  -->
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://picsum.photos/200/300" />
    </ion-thumbnail>
    
  </div>  
  <div class="article" >
    <ion-toolbar class="article-title">
      <div  slot="start" >
        <ion-icon  name="time-outline"></ion-icon>
        25 minutes
      </div>
    </ion-toolbar>

    <ion-toolbar class="article-title">
      <ion-title class="a-title">Default Title emplaçement emplaçement</ion-title>
      <ion-badge slot="end" >
        Tag
      </ion-badge>
    </ion-toolbar>

    <p class="article-content">
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
      Suivi vos affaires dans un seul emplaçement.
     </p>
    <!--  -->
    
    <!--  -->
  </div>
</div>
