<ion-content  class="all">
  <ion-toolbar class="my_toolbar">
    <ion-menu-toggle slot="start">
      <ion-icon  name="reorder-three-outline" class="my_menu_icon"></ion-icon>
      </ion-menu-toggle>
    <ion-title>Articles</ion-title>
    <div slot="end">
    <ion-icon slot="start" name="mail-outline" class="menu_icon"></ion-icon>
    <ion-icon slot="start" name="notifications-outline" class="menu_icon"></ion-icon>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"class="menu_icon_avatar"  />
    </div>
  </ion-toolbar>
  <div class="top">
    <!--  -->
    <ion-segment color="primary" [(ngModel)]="segment" (ionChange)="segmentChanged($event)" scrollable>
      <ion-segment-button value="mycategories" checked>
        <ion-label>My categories</ion-label>
        <ion-icon name="cash"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="allcategories">
        <ion-label>All categories</ion-label>
        <ion-icon name="log-out"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>  
  <div class="articles" >
    <p>Suivi vos affaires dans un seul emplaçement. </p>
    <!--  -->
    <div [ngSwitch]="segment">
      <ion-list *ngSwitchCase="'mycategories'">

        <div class="article" [routerLink]="['/article']">
          <div class="figure">
            <ion-toolbar class="actions">
              <ion-badge slot="start" >
                <ion-icon  name="time-outline"></ion-icon>
                  30 minutes
              </ion-badge>
              <ion-icon slot="end"  color="danger"name="heart"></ion-icon>
            </ion-toolbar>
          </div>
            <ion-item class="details">
              <ion-label>
                Default Icon
                <p>ss sq d qsdqs dqs d</p>
              </ion-label>
              <ion-badge slot="end">Some</ion-badge>
            </ion-item>
        </div>


        <div class="article" [routerLink]="['/article']">
          <div class="figure">
            <ion-toolbar class="actions">
              <ion-badge slot="start" >
                <ion-icon  name="time-outline"></ion-icon>
                  30 minutes
              </ion-badge>
              <ion-icon slot="end"  color="danger"name="heart"></ion-icon>
            </ion-toolbar>
          </div>
            <ion-item class="details">
              <ion-label>
                Default Icon
                <p>ss sq d qsdqs dqs d</p>
              </ion-label>
              <ion-badge slot="end">Some</ion-badge>
            </ion-item>
        </div>


        <div class="article" [routerLink]="['/article']">
          <div class="figure">
            <ion-toolbar class="actions">
              <ion-badge slot="start" >
                <ion-icon  name="time-outline"></ion-icon>
                  30 minutes
              </ion-badge>
              <ion-icon slot="end"  color="danger"name="heart"></ion-icon>
            </ion-toolbar>
          </div>
            <ion-item class="details">
              <ion-label>
                Default Icon
                <p>ss sq d qsdqs dqs d</p>
              </ion-label>
              <ion-badge slot="end">Some</ion-badge>
            </ion-item>
        </div>

      

       

      </ion-list>
  
      <ion-list *ngSwitchCase="'allcategories'">

        <div class="article" [routerLink]="['/article']">
          <div class="figure">
            <ion-toolbar class="actions">
              <ion-badge slot="start" >
                <ion-icon  name="time-outline"></ion-icon>
                  30 minutes
              </ion-badge>
              <ion-icon slot="end"  color="danger"name="heart"></ion-icon>
            </ion-toolbar>
          </div>
            <ion-item class="details">
              <ion-label>
                Default Icon
                <p>ss sq d qsdqs dqs d</p>
              </ion-label>
              <ion-badge slot="end">Some</ion-badge>
            </ion-item>
        </div>


        <div class="article" [routerLink]="['/article']">
          <div class="figure">
            <ion-toolbar class="actions">
              <ion-badge slot="start" >
                <ion-icon  name="time-outline"></ion-icon>
                  30 minutes
              </ion-badge>
              <ion-icon slot="end"  color="danger"name="heart"></ion-icon>
            </ion-toolbar>
          </div>
            <ion-item class="details">
              <ion-label>
                Default Icon
                <p>ss sq d qsdqs dqs d</p>
              </ion-label>
              <ion-badge slot="end">Some</ion-badge>
            </ion-item>
        </div>

        <div class="article" [routerLink]="['/article']">
          <div class="figure">
            <ion-toolbar class="actions">
              <ion-badge slot="start" >
                <ion-icon  name="time-outline"></ion-icon>
                  30 minutes
              </ion-badge>
              <ion-icon slot="end"  color="danger"name="heart"></ion-icon>
            </ion-toolbar>
          </div>
            <ion-item class="details">
              <ion-label>
                Default Icon
                <p>ss sq d qsdqs dqs d</p>
              </ion-label>
              <ion-badge slot="end">Some</ion-badge>
            </ion-item>
        </div>

      </ion-list>
    </div>
    <!--  -->
  </div>
</ion-content>
