<ion-content class="all">
  <div class="top">
    <ion-img src="/assets/signup.svg" class="connect_img"></ion-img>
  </div>  
  <div class="container" >
    <ion-img src="/assets/images/logo.png"  class="bottom_logo"></ion-img>

    <strong>Créer un compte</strong>
    <p>Rejoignez nous et créer votre compte gratuitement. </p>
  
    <div class="login_form">
      <ion-list class="login_list">
        <ion-item>
          <ion-label position="stacked">Nom et Prénom</ion-label>
          <ion-input type="text"placeholder="Enter text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          
          <ion-input placeholder="Enter@gmail.com"></ion-input>

        </ion-item>

        <ion-item>
          <ion-label position="stacked">Date de naissance</ion-label>
          <ion-input type="date" placeholder="Enter text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ville</ion-label>
          <ion-input placeholder="Enter text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input type="password"  placeholder="Enter text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Mot de passe Confirmation</ion-label>
          <ion-input type="password" placeholder="Enter text"></ion-input>
        </ion-item>

          <ion-radio-group>
            <ion-list-header>
              <ion-label>Genre</ion-label>
            </ion-list-header>
            <ion-item class="type_item">
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>
        
            <ion-item  class="type_item">
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header>
              <ion-label>Type de compte</ion-label>
            </ion-list-header>
            <ion-item class="compte_item">
              <ion-label>Entreprise</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>
        
            <ion-item  class="compte_item">
              <ion-label>Porteur de project</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
          </ion-radio-group>

        

          <ion-button color="medium" class="login_action" [routerLink]="['/home']">
              Créer un compte
          </ion-button>
          
          <br>
            <ion-button color="light" class="action" [routerLink]="['/login']">
               Se connecter
            </ion-button>
      
          

        </ion-list>

    </div>
   
  </div>
</ion-content>
