<div  class="all">
  <div class="top">

  </div>  
  <div class="container" >
    <strong>Entrepreneur App</strong>
    <p>Suivi vos affaires dans un seul emplaçement. </p>
  
    <div class="welcome-buttons">
        <ion-button color="medium" class="action" [routerLink]="['/login']">
          <ion-icon slot="start" name="star" ></ion-icon>
            Se connecter
        </ion-button>
        <ion-button color="light" class="action" [routerLink]="['/signup']">
          <ion-icon slot="start" name="star"></ion-icon>
           S'inscrire
        </ion-button>
    </div>
  </div>
</div>
