<div  class="all">
  <div class="top">
    <ion-toolbar class="my_toolbar">
      <ion-icon slot="start" name="reorder-three-outline" class="my_menu_icon"></ion-icon>

      <!-- <ion-title>Articles</ion-title> -->
      <div slot="end">
      <!-- <ion-icon slot="start" name="mail-outline" class="menu_icon"></ion-icon> -->
      <!-- <ion-icon slot="start" name="notifications-outline" class="menu_icon"></ion-icon> -->
      <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg"class="menu_icon_avatar"  />
      </div>
    </ion-toolbar>

  </div>  
  <div class="container" >
    <strong>Entrepreneur App</strong>
    <p>Suivi vos affaires dans un seul emplaçement. </p>
  
    <div class="slider">
      <swiper class="banner-slides" [initialSlide]="1" [autoplay]="true"
      [pagination]="true" [zoom]="true"
       [slidesPerView]="1.25" [spaceBetween]="20" [centeredSlides]="true"
        #swiper>
        <ng-template swiperSlide><img src="/assets/images/service1.jpg" alt="" class="my_slider_img"></ng-template>
        <ng-template swiperSlide><img src="/assets/images/service2.jpg" alt="" class="my_slider_img"></ng-template>
        <ng-template swiperSlide><img src="/assets/images/service1.jpg" alt="" class="my_slider_img"></ng-template>
        </swiper>
    </div>
    <div class="welcome-buttons">
        <ion-button color="medium" class="action" [routerLink]="['/login']">
            Se connecter
        </ion-button>
        <ion-button color="light" class="action" [routerLink]="['/signup']">
           S'inscrire
        </ion-button>
    </div>
  </div>
</div>
