<div  class="all">
  <div class="top">
    <div class="top_bg">
    <ion-toolbar class="my_toolbar">
      <ion-menu-toggle slot="start">
        <ion-icon  name="reorder-three-outline" class="my_menu_icon"></ion-icon>
      </ion-menu-toggle>
      <ion-title>Rappels</ion-title>
      <div slot="end">
      <ion-icon slot="start" name="mail-outline" class="menu_icon"></ion-icon>
      <ion-icon slot="start" name="notifications-outline" class="menu_icon"></ion-icon>
        <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg"class="menu_icon_avatar"  />
      </div>
    </ion-toolbar>
    <!--  -->
    <img src="/assets/images/calendar.svg" class="top_svg"  />

    <p>Suivi vos dates importantes dans un seul emplaçement. </p>

  </div>  
</div>
  <div class="rappels" >
    <!--  -->
    <div>
      <ion-list >
        <ion-item class="rappel-new">
          <ion-icon name="calendar" color="info" slot="start"></ion-icon>
          <ion-label>Rappel TVA </ion-label>
          <ion-toggle slot="end"></ion-toggle>
          <ion-note slot="helper" color="info">Dernier delai 12/12/2022</ion-note>
        </ion-item>

        <ion-item class="rappel-new">
          <ion-icon name="calendar" color="info" slot="start"></ion-icon>
          <ion-label>Rappel TVA </ion-label>
          <ion-toggle slot="end"></ion-toggle>
          <ion-note slot="helper" color="info">Dernier delai 12/12/2022</ion-note>
        </ion-item>

        <ion-item class="rappel-new">
          <ion-icon name="calendar" color="info" slot="start"></ion-icon>
          <ion-label>Rappel TVA </ion-label>
          <ion-toggle slot="end"></ion-toggle>
          <ion-note slot="helper" color="info">Dernier delai 12/12/2022</ion-note>
        </ion-item>


        <ion-item class="rappel">
          <ion-icon name="calendar" color="info" slot="start"></ion-icon>
          <ion-label>Rappel TVA </ion-label>
          <ion-toggle slot="end"></ion-toggle>
          <ion-note slot="helper" color="info">Dernier delai 12/12/2022</ion-note>
        </ion-item>


        <ion-item class="rappel">
          <ion-icon name="calendar" color="info" slot="start"></ion-icon>
          <ion-label>Rappel TVA </ion-label>
          <ion-toggle slot="end"></ion-toggle>
          <ion-note slot="helper" color="info">Dernier delai 12/12/2022</ion-note>
        </ion-item>

      </ion-list>
    </div>
    <!--  -->
  </div>
</div>
